# Import pandas

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from random import randint

# First, randomly distribute the courses

In [3]:
df = pd.read_excel('./course_2023.xlsx', sheet_name=1)

df.head()

,Class Nbr,Subj,CRS,Course Title,SBC,Cmp,Sctn,Credits,Days,Start Time,End Time,Room,Instructor
0,92844,ACC,210,Financial Accounting,NaN,LEC,90,3,TUTH,2:00 PM,3:20 PM,B103,Jeehong Kim
1,92858,ACC,210,Financial Accounting,NaN,LEC,91,3,TUTH,10:30 AM,11:50 AM,B207,Koren Jo
2,92877,ACC,214,Managerial Cost Analysis and Applications,NaN,LEC,90,3,F,9:00 AM,11:50 AM,B103,Soo Young Kwon
3,92845,BUS,215,Intro to Business Statistics,NaN,LEC,90,3,MW,3:30 PM,4:50 PM,B203,Jaeyeong Lee
4,92850,BUS,220,Intro to Decision Sciences,STEM+,LEC,90,3,MW,5:00 PM,6:20 PM,B103,Chungseung Lee

In [4]:
df.fillna(method='ffill', inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_82564\3970806690.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)

In [5]:
df.head()

,Class Nbr,Subj,CRS,Course Title,SBC,Cmp,Sctn,Credits,Days,Start Time,End Time,Room,Instructor
0,92844,ACC,210,Financial Accounting,NaN,LEC,90,3,TUTH,2:00 PM,3:20 PM,B103,Jeehong Kim
1,92858,ACC,210,Financial Accounting,NaN,LEC,91,3,TUTH,10:30 AM,11:50 AM,B207,Koren Jo
2,92877,ACC,214,Managerial Cost Analysis and Applications,NaN,LEC,90,3,F,9:00 AM,11:50 AM,B103,Soo Young Kwon
3,92845,BUS,215,Intro to Business Statistics,NaN,LEC,90,3,MW,3:30 PM,4:50 PM,B203,Jaeyeong Lee
4,92850,BUS,220,Intro to Decision Sciences,STEM+,LEC,90,3,MW,5:00 PM,6:20 PM,B103,Chungseung Lee

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Class Nbr     28 non-null     int64
 1   Subj          28 non-null     object
 2   CRS           28 non-null     int64
 3   Course Title  28 non-null     object
 4   SBC           24 non-null     object
 5   Cmp           28 non-null     object
 6   Sctn          28 non-null     object
 7   Credits       28 non-null     int64
 8   Days          28 non-null     object
 9   Start Time    28 non-null     object
 10  End Time      28 non-null     object
 11  Room          28 non-null     object
 12  Instructor    28 non-null     object
dtypes: int64(3), object(10)
memory usage: 3.0+ KB

In [7]:
df['Total time'] = ((pd.to_datetime(df['End Time']) - pd.to_datetime(df['Start Time']))).dt.total_seconds() / 60

C:\Users\USER\AppData\Local\Temp\ipykernel_82564\2471917587.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Total time'] = ((pd.to_datetime(df['End Time']) - pd.to_datetime(df['Start Time']))).dt.total_seconds() / 60
C:\Users\USER\AppData\Local\Temp\ipykernel_82564\2471917587.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Total time'] = ((pd.to_datetime(df['End Time']) - pd.to_datetime(df['Start Time']))).dt.total_seconds() / 60

In [8]:
df['Start Time'], df['End Time'] = None, None

df_filtered = df[df['Total time'] >0]

In [9]:
start_time = {
    0: '9:00 AM',
    1:'10:30 AM', 
    2: '12:30 PM',
    3: '2:00 PM',
    4: '3:30 PM',
    5: '5:00 PM'
    }

num = df_filtered.shape[0] // 6
extra = df_filtered.shape[0] % 6

lst = [num for _ in range(6)]

for _ in range(extra):
    idx = randint(0, num-1)
    lst[idx] += 1

time_slots = []

for i in range(6):
    time_slots += [start_time[i]] * lst[i]
             
np.random.shuffle(time_slots)         
df_filtered['Start Time'] = time_slots

C:\Users\USER\AppData\Local\Temp\ipykernel_82564\4028327517.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Start Time'] = time_slots

In [10]:
def calculate_end_time(row):

    start_time_dt = datetime.strptime(row['Start Time'], '%I:%M %p')
    end_time_dt = start_time_dt + timedelta(minutes=row['Total time'])
    end_time_str = end_time_dt.strftime('%I:%M %p')

    return end_time_str

df_filtered['End Time'] = df_filtered.apply(calculate_end_time, axis=1)

df_filtered

C:\Users\USER\AppData\Local\Temp\ipykernel_82564\1497594676.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['End Time'] = df_filtered.apply(calculate_end_time, axis=1)

,Class Nbr,Subj,CRS,Course Title,SBC,Cmp,Sctn,Credits,Days,Start Time,End Time,Room,Instructor,Total time
0,92844,ACC,210,Financial Accounting,NaN,LEC,90,3,TUTH,5:00 PM,06:20 PM,B103,Jeehong Kim,80.0
1,92858,ACC,210,Financial Accounting,NaN,LEC,91,3,TUTH,2:00 PM,03:20 PM,B207,Koren Jo,80.0
2,92877,ACC,214,Managerial Cost Analysis and Applications,NaN,LEC,90,3,F,10:30 AM,01:20 PM,B103,Soo Young Kwon,170.0
3,92845,BUS,215,Intro to Business Statistics,NaN,LEC,90,3,MW,3:30 PM,04:50 PM,B203,Jaeyeong Lee,80.0
4,92850,BUS,220,Intro to Decision Sciences,STEM+,LEC,90,3,MW,12:30 PM,01:50 PM,B103,Chungseung Lee,80.0
5,92857,BUS,326,Organizational Behavior,DIV,LEC,90,3,TUTH,12:30 PM,01:50 PM,B204,Chih-mao Hsieh,80.0
6,96965,BUS,330,Principles of Finance,DIV,LEC,91,3,TUTH,2:00 PM,03:20 PM,B204,Sung Sup Choi,80.0
7,92872,BUS,334,Integrated Mktg Communications,DIV,LEC,90,3,MW,9:00 AM,10:20 AM,B204,Dae Ryun Chang,80.0
8,92873,BUS,340,Information Systems in Management,TECH,LEC,90,3,MW,5:00 PM,06:20 PM,A724,Kyung Kyu Kim,80.0
9,92851,BUS,346,Operations Management,TECH,LEC,90,3,MW,5:00 PM,06:20 PM,B103,Chungseung Lee,80.0
10,92848,BUS,348,Principles of Marketing,TECH,LEC,90,3,MW,10:30 AM,11:50 AM,B204,Noelle Chung,80.0
11,92875,BUS,348,Principles of Marketing,TECH,LEC,91,3,MW,12:30 PM,01:50 PM,B204,Dae Ryun Chang,80.0
12,92855,BUS,353,Entrepreneurship,TECH,LEC,90,3,TUTH,12:30 PM,01:50 PM,B314,Chih-mao Hsieh,80.0
13,92874,BUS,355,Investment Analysis,TECH,LEC,90,3,TUTH,2:00 PM,03:20 PM,B205,Joung Hwa Choi,80.0
14,92859,BUS,358,Marketing Research,ESI,LEC,90,3,MW,9:00 AM,10:20 AM,A211,Noelle Chung,80.0
15,92861,BUS,359,Consumer Behavior,ESI,LEC,90,3,TU,9:00 AM,11:50 AM,A211,Young-Won Ha,170.0
16,92865,BUS,365,Financial Management,ESI,LEC,90,3,TUTH,3:30 PM,04:50 PM,A117,Joung Hwa Choi,80.0
17,92866,BUS,366,Money and Financial Inst.,ESI,LEC,90,3,TUTH,10:30 AM,11:50 AM,A211,Sung Sup Choi,80.0
18,92856,BUS,447,Business Ethics,CER,LEC,90,3,TH,3:30 PM,06:20 PM,C103,In Ki Joo,170.0